<div class="container">
    <div class="row align-items-center justify-content-between">
      <!-- Frame13 on the left -->
      <div class="col-auto">
        <div class="Frame13 d-flex flex-column align-items-start gap-2" style="width: 700px;">
          <div class="Label text-center" style="color: #3D3D3D; font-size: 40px; font-family: Roboto; font-weight: 500;">
            Backlog
          </div>
        </div>
      </div>
  
      <!-- Tools on the right -->
      <div class="col-auto">
        <div class="Tools d-flex gap-3">
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <app-preset-filter></app-preset-filter>
            
                    <div class="btn-group mr-2">
                        <button type="button" (click)="onAddTap('custom-modal-1')" class="btn btn-sm btn-outline-secondary">Add</button>
                    </div>
            
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<app-list [items]="items$ | async" (listItemSelected)="selectListItem($event)"></app-list>

<custom-modal id="custom-modal-1">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Item</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal('custom-modal-1')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group" >
                <kendo-floatinglabel text="Title"style="width: 100%;">
                     <kendo-textbox [(ngModel)]="newItem.title" name="title" ></kendo-textbox>
                </kendo-floatinglabel>
            </div>

            <div class="form-group" >
               <kendo-floatinglabel text="Description"style="width: 100%;">
                    <kendo-textarea class="form-control" [(ngModel)]="newItem.description" name="description"></kendo-textarea>
              </kendo-floatinglabel>
            </div>

            <div class="form-group" style="width: 100%;">
              <kendo-floatinglabel text="Item Type"style="width: 100%;">
                    <!-- <select class="form-control" [(ngModel)]="newItem.type" name="itemType">
                        @for (itemType of itemTypesProvider; track itemType) {
                            <option [ngValue]="itemType">{{itemType}}</option>
                        }
                    </select> -->
                    <kendo-dropdownlist #dropdownlist [data]="itemTypesProvider" [(ngModel)]="newItem.type" name="itemType"> </kendo-dropdownlist>
              </kendo-floatinglabel>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="closeModal('custom-modal-1')">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!newItem.title" (click)="onSaveTap(newItem,'custom-modal-1')">Save
            changes</button>
    </div>
</custom-modal>
